<h1>Trip to <%= @loo.name %></h1>

<div class="panel panel-default" id="flush-fund">
  <div class="panel-heading">Flush Fund</div>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-6 bg-info text-info">
        <b>Time elapsed</b>
        <div class="fund-num">
          <span id="timer">0.0</span>s
        </div>
      </div>
      <div class="col-xs-6 bg-success text-success">
        <b>Money earned</b>
        <div class="fund-num">
          $<span id="fund">0</span>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-footer">
    <small>Based on your <%= number_to_currency(@user.salary, precision: 0) %> annual salary</small>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Shits 'n Giggles</div>
  <div class="panel-body">
    <a class="twitter-timeline" href="https://twitter.com/The_Loo_Review">Tweets by The_Loo_Review</a>
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
  <button class="btn btn-danger btn-block" id="stop" data-toggle="modal" data-target="#modal-review">Swipe to Wipe!</button>
</nav>

<%= form_for(@review) do |f| %>
<div class="modal fade" id="modal-review" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Review this loo</h4>
      </div>
      <div class="modal-body">
        <div id="stars">
          <span class="glyphicon glyphicon-star-empty" id="star-1"></span>
          <span class="glyphicon glyphicon-star-empty" id="star-2"></span>
          <span class="glyphicon glyphicon-star-empty" id="star-3"></span>
          <span class="glyphicon glyphicon-star-empty" id="star-4"></span>
          <span class="glyphicon glyphicon-star-empty" id="star-5"></span>
          <input type="hidden" name="review[stars]" value="0">
        </div>
        <div id="notes">
          <% @notes.each do |note| %>
            <span class="badge badge-off badge-hidden badge-<%= note.is_positive ? 'positive' : 'negative' %>" id="note-<%= note.id %>">
              <%= note.name %>
            </span>
            <input type="hidden" name="notes[<%= note.id %>]" value="0">
          <% end %>
        </div>
        <div>
          <p>
            <br>You share a review.<br>
            Or a poo related haiku.<br>
            It is up to you.
          </p>
          <textarea name="review[comments]" class="form-control" rows="3"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <input type="hidden" name="review[user_id]" value="<%= @user.id %>">
        <input type="hidden" name="review[loo_id]" value="<%= @loo.id %>">

        <input type="hidden" name="trip[user_id]" value="<%= @user.id %>">
        <input type="hidden" name="trip[loo_id]" value="<%= @loo.id %>">
        <input type="hidden" name="trip[started_at]" value="">
        <input type="hidden" name="trip[ended_at]" value="">
        <input type="hidden" name="trip[earnings]" value="0">

        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </div>
</div>
<% end %>

<script>
  $(function () {

    // Start Flush Fund
    var salary = <%= @user.salary %>;
    var start = new Date();
    var now = new Date();

    var interval = setInterval(function () {
      now  = new Date();
      var diff = (now.getTime() - start.getTime()) / 1000;
      var fund = (salary / 52 / 10800) * diff;

      $('#timer').text(diff.toFixed(1));
      $('#fund').text(fund.toFixed(2));
    }, 100);

    $('input[name="trip[started_at]"]').val(start.toISOString());

    // Stop pooping
    $('#stop').on('click', function () {
      clearInterval(interval);
      $('input[name="trip[ended_at]"]').val(now.toISOString());
      $('input[name="trip[earnings]"]').val($('#fund').text());
    });

    // Star selection
    $('#stars span')
      .on('mouseover', function () {
        fillStars($(this).index() + 1);
      })
      .on('click', function () {
        $('.badge').addClass('badge-hidden');

        var star = $(this).index() + 1;
        if (star >= 3) {
          $('.badge-positive').removeClass('badge-hidden');
        } else {
          $('.badge-negative').removeClass('badge-hidden');
        }
        $('input[name="review[stars]"]').val(star);
      });

    $('#stars').on('mouseout', function () {
      fillStars($('input[name="review[stars]"]').val());
    });

    function fillStars(star) {
      $('#stars span').addClass('glyphicon-star-empty');
      $('#stars span').removeClass('glyphicon-star');
      for (i = star; i >= 0; i--) {
        $('#star-' + i).addClass('glyphicon-star');
        $('#star-' + i).removeClass('glyphicon-star-empty');
      }
    }

    // Notes selection
    $('#notes span')
      .on('click', function () {
        id = this.id.replace(/note-/, '')
        $note = $(this);
        $input = $('input[name="notes['+id+']"]');

        if ($note.hasClass('badge-off')) { // Add note
          $note.removeClass('badge-off');
          $input.val(1);
        } else { // Remove note
          $note.addClass('badge-off');
          $input.val(0);
        }
      });
  
  });
</script>