<div class="row" id="gotta">
  <div class="col-xs-12">
    Gotta Go?
  </div>
</div>

<style>
#map {
  width: 375px;
  height: 405px;
  margin-left: -15px;
}
</style>

<div id="map"></div>

<nav class="navbar navbar-default navbar-fixed-bottom">
  <a href="#" class="btn btn-success btn-block">Flush Fund</a>
</nav>

<script>
  var map;
  function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
      center: { lat: 38.703430, lng: -9.177034 },
      zoom: 15
    });

    var infowindow = new google.maps.InfoWindow();
    <% @loos.each do |loo| %>
      var marker = new google.maps.Marker({
        position: { lat: <%= loo.lat %>, lng: <%= loo.long %> },
        map: map,
        title: '<%= loo.name %>',
        icon: '<%= image_url 'icon.png' %>'
      });
      var content = '<%= render 'map_info', loo: loo %>';
      google.maps.event.addListener(marker, 'click', (function(marker, content, infowindow) {
        return function() {
          infowindow.close();
          infowindow.setContent(content);
          infowindow.open(map, marker);
        };
      })(marker, content, infowindow)); 
    <% end %>
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcA3HXjEXDRQHMNfzpMFI88h2SOE0Ez7A&callback=initMap" async defer></script>
