<h1>Review for <%= @review.loo.name %></h1>

<div>
  <% (0..@review.stars).each do %>
    <span class="glyphicon glyphicon-star"></span>
  <% end %>
</div>

<div>
  <% @review.notes.each do |note| %>
    <span class="badge"><%= note.name %></span>
  <% end %>
</div>

<div>
  <p><%= @review.comments %></p>
</div>
<hr>
<div>
  <p>
    You made<br>
    <%= @review.trip.started_at %><br>
    on the toilet!<br>
    You could have spent that on...<br>
    <b>or</b><br>
    <a href="<%= loos_path %>" class="btn btn-success">Give a shit!</a>
  </p>
</div>

<!--<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>-->
